.jumbotron {
  position: relative;
  margin-top: -($navbar-height + 1);
  padding-top: ($navbar-height * 2);
  padding-bottom: ($navbar-height * 2);
  &.home {
    height: 60vh;
    color: darken($brand-primary, 50%);

    .hero-image {
      margin: $padding-base-vertical auto;
      width: 80%;
      max-width: 100px;
    }

    h1 {
      font-size: 36px;
    }

    .searchbar {
      .search-icon {
        line-height: $font-size-h3;
      }
      .form-control {
        font-size: $font-size-h3;
        color: darken($brand-primary, 50%);
        border-bottom: 1px solid darken($brand-primary, 50%);
        &::-webkit-input-placeholder { /* Chrome */
          color: darken($brand-primary, 50%);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: darken($brand-primary, 50%);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: darken($brand-primary, 50%);
          opacity: 1;
        }
        &:-moz-placeholder { /* Firefox 4 - 18 */
          color: darken($brand-primary, 50%);
          opacity: 1;
        }
      }
      .search-sizer {
        font-size: $font-size-h3;
      }
    }
  }
}

.pushDaFoota {
  min-height: 100vh;
  padding-bottom: 4rem;
}


footer {
  background-color: $brand-grey;
  color: white;
  padding: 2rem;
  text-align: center;
}
