.jumbotron {
  position: relative;
  margin-top: -($navbar-height + 1);
  padding-top: ($navbar-height * 2);
  padding-bottom: ($navbar-height * 2);
  &.home {

    a {
      color: darken($color-logo, 20%);

      &:hover {
        color: darken($color-logo, 30%);
      }
    }
  }
}

.pushDaFoota {
  min-height: 100vh;
  padding-bottom: 4rem;
}


footer {
  background-color: $brand-grey;
  color: white;
  padding: 2rem;
  text-align: center;
}
