//Custom Variables

//== Colors

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-grey:            #777;

$brand-primary:         #2DC2E3 !default;

$color-fulltime: rgba(2, 145, 211, 1);
$color-internship: darken(saturate(rgba(255, 230, 109, 1), 30%), 20%);
$color-parttime: mix($color-fulltime, $color-internship, 75%);
$color-contract: mix($color-fulltime, $color-internship, 50%);
$color-project: mix($color-fulltime, $color-internship, 25%);

$color-logo:            #F05C6A !default;
$color-bg:              #FCFAF9 !default;

$color-filter: darken($color-bg, 10%) !default;

//== Typography

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$font-size-base: 1rem !default;
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    "brandon-grotesque", Helvetica, Arial, sans-serif !default;
$headings-font-weight:    300 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

//== Components

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        6px !default;
$border-radius-large:       8px !default;
$border-radius-small:       4px !default;
$border-radius-button:      2rem !default;

//== Buttons

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-button !default;
$btn-border-radius-large:        $btn-border-radius-base !default;
$btn-border-radius-small:        $btn-border-radius-base !default;

//== Cards
//
//##

$card-border-color:              $gray-lighter !default;
$card-margin-base:               15px;
